<html>
    <head>
        <title>COVID-19 Prediction</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
        <script src="covid-19_classes.js"></script>
        <script src="./views/predict.js"></script>
    </head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <input id="image-selector" class="form-control border-0" type="file">
                </div>
                <div class="col-lg-6">
                    <button type="button" id="predict-button" class="btn btn-dark">Predict</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h2 class="ml-3">Prediction</h2>
                    <ol id="prediction"></ol>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h2 class="ml-3">Image</h2>
                    <img src="" id="selected-image" class="ml-3" />
                </div>
            </div>
        </div>
    </main>
    <script src="./js/predict.js"></script>
</body>
</html>